/* Fuente TBOI */
@font-face {
    font-family: "tboi";
    src: url("../fonts/upheavtt.ttf");
}

/* Estilo principal */
body {
    background: url('../img/fondo_principal.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "tboi", Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Formulario completo */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 5px solid white;
    box-sizing: border-box;
    width: 45%;
    text-align: center;
}


legend {
    font-size: 1.5em;
    padding: 0 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: grey;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: grey;
    outline: none;
    box-shadow: 0 0 5px grey;
}

input::placeholder {
    color: #ccc;
    font-family: tboi;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: tboi;
}

button[type="submit"],
button[type="reset"] {
    background-color: grey;
    color: white;
}

button:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
    border: 1px solid white;
}

.botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

span label {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 2px white;
    display: block;
    padding-bottom: 25px;
    font-size: 40px;
}

.contact-label {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.733);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

label {
    padding-top: 25px;
    color: white;
    text-shadow: white;
}


/* Header, menu de navegacion y logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(34, 34, 34, 0.8);
}

#logo {
    width: 100px;
    height: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s ease;
}

nav a::after {
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #000;
    transition: width 0.3s ease, right 0.3s ease;
}

nav a:hover {
    color: #000;
    text-shadow: 0 0 10px white;
}

nav a:hover::after {
    width: 100%;
}
@media (max-width: 800px) {
    header {
      flex-direction: column;
    }
    .botones {
        flex-direction: column;
        justify-content: center;
        padding-block: 10px;
    }
    span label {
        font-size: 30px;
    }
  }
  @media (max-width: 600px) {
    header {
      flex-direction: column;
    }
    nav a {
        margin: 10px 0;
    }
    .botones {
        flex-direction: column;
        justify-content: center;
        padding-block: 10px;
    }
    span label {
        font-size: 20px;
    }
  }